@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");

html {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}

#main {
  font-family: "Rakkas", cursive;
}

#bosses {
  display: flex;
}
.boss-wrap {
  width: 300px;
  height: 500px;
  margin: 30px;
  position: relative;
}

.boss-image {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.loot-wrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 160px;
  background-color: rgba(0, 0, 0, 0.55);
}
.boss-title {
  margin-top: -20px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.item-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
.total-gold {
  position: absolute;
  font-size: 50px;
  color: gold;
  top: 33%;
  left: 50%;
  transform: translate(-50%, 0);
}

body {
  margin: 0;
  padding-bottom: 3rem;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
  background: #efefef;
}

.container {
  position: absolute;
  width: 300px;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
}
.test-controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.btn {
  width: 150px;
  padding: 15px 10px;
  background-color: darkslategray;
  color: white;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}
