@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");

html {
  /* background-color: #0c0c0e; */
  background-color: #222323;
  color: white;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#main {
  font-family: "Rakkas", cursive;
}

#bosses {
  display: flex;
  flex-wrap: wrap;
}
.boss-wrap {
  width: calc(100% / 5 - 60px);
  height: 400px;
  margin: 30px;
  margin-bottom: 80px;
  position: relative;
  border-radius: 10px;
  border: 3px solid rgba(255, 217, 0);
}
.boss-image {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 10px 10px;
}
.boss-image.alive {
  opacity: 0.6;
}
.loot-wrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 160px;
  border-radius: 0px 0px 10px 10px;
}
.grad-filter-up {
  z-index: 0;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 80%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 0px 0px 10px 10px;
}
.boss-title {
  font-size: 2em;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -26px;
  padding: 5px 15px;
  white-space: nowrap;
  background-color: black;
  border: 3px solid rgba(255, 217, 0);
  border-radius: 20px;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
  text-shadow: 0 0 1em black;
}

.item-row {
  position: relative;
  z-index: 5;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
}

.item-row a {
  text-decoration: none;
  color: inherit;
}

.item-row .item-name {
  max-width: 200px;
  text-overflow: ellipsis;
}

.item-row .item-price {
  color: gold;
}

.overlay-text {
  position: absolute;
  font-size: 2.5em;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  bottom: -37px;
  background-color: black;
  padding: 10px 15px;
  border: 3px solid rgba(255, 217, 0);
  border-radius: 20px;
}
.total-gold {
  color: gold;
}

body {
  margin: 0;
  padding-bottom: 3rem;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
  background: #efefef;
}

.container {
  position: absolute;
  width: 300px;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
}
.test-controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.btn {
  width: 150px;
  padding: 15px 10px;
  background-color: darkslategray;
  color: white;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}
.align-c {
  z-index: 1;
  padding: 30px 0;
  position: relative;
  text-align: center;
}
.raid-stats-wrap {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.raid-stat {
  text-align: center;
}
.raid-stat-key {
  color: gold;
}

.raid-stat-value {
  font-size: 20px;
}

/* 
.raid-wrap {
  margin: 0px 10px;
  max-width: 1600px;
} */

.jumbo-wrap {
  position: relative;
  background-color: #222222;
  width: 100%;
  color: white;
}

.vignete {
  z-index: 0;
  pointer-events: none;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.3519782913165266) 0%,
    rgba(0, 0, 0, 0.5760679271708684) 50%,
    rgba(0, 0, 0, 0.8449754901960784) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
}

.strong {
  font-weight: bold;
}

.guild-name {
  font-size: 26px;
  letter-spacing: 0.15em;
}

.guild-name.bigger {
  font-size: 36px;
}

.sub-guild.bigger {
  font-size: 20px;
}

.sub-guild {
  letter-spacing: 0.4em;
  color: gold;
}

.item-buyer {
  color: gray;
  font-size: 16px;
}
