@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");

html {
  /* background-color: #0c0c0e; */
  /* background-color: #222323; */
  color: white;
  height: 100%;
  width: 100%;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#main {
  font-family: "Rakkas", cursive;
}

.item-row {
  position: relative;
  z-index: 5;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 10px 20px;
}

.item-row a {
  text-decoration: none;
  color: inherit;
}

.item-row .item-name {
  max-width: 150px;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-row .item-price {
  color: #ebbc75;
}

.item-row .item-buyer {
  color: #bbbbbb;
}

body {
  margin: 0;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
  background: #efefef;
}

.container {
  position: absolute;
  width: 300px;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
}
.test-controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.btn {
  width: 150px;
  padding: 15px 10px;
  background-color: darkslategray;
  color: white;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}
.align-c {
  z-index: 1;
  padding: 30px 0;
  position: relative;
  text-align: center;
}
.raid-stats-wrap {
  z-index: 1;
  display: flex;
  margin: 0 auto;
  position: relative;
  padding-bottom: 50px;
  justify-content: space-evenly;
}
.raid-stat {
  text-align: center;
  margin: 0 50px;
}
.raid-stat-key {
  color: #ebbc75;
}

.raid-stat-value {
  font-size: 20px;
}

.jumbo-wrap {
  position: relative;
  width: 100%;
  color: white;
}

.vignete {
  z-index: 0;
  pointer-events: none;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.3519782913165266) 0%,
    rgba(0, 0, 0, 0.5760679271708684) 50%,
    rgba(0, 0, 0, 0.8449754901960784) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
}

.strong {
  font-weight: bold;
}

.guild-name {
  font-size: 4em;
  letter-spacing: 0.15em;
}

.sub-guild {
  font-size: 3em;
  letter-spacing: 0.2em;
  color: #ebbc75;
}

.item-buyer {
  color: gray;
  font-size: 16px;
}

nav {
  display: none;
}

.section-title {
  font-size: 2em;
  color: white;
}
.section-title.large {
  font-size: 3.5em;
  color: white;
}

.corner-decorator {
}
