#bosses {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  justify-content: center;
  margin: 0 auto;
}

.jumbo-inner {
  min-height: 500px;
  position: relative;
}

.abs-vert-c {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.boss-head-wrap {
  padding: 30px;
}

.leaderboard-title-wrap {
  padding: 100px;
}

.bar-1 {
  background-image: url("../../img/decorator1.svg");
}

.decorator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.decorator-below {
  transform: rotate(180deg) translateX(5px);
}

.corner-decorators {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 400px;
  width: 100%;
}
.corner-decorator {
  height: 100%;
  width: 400px;
  margin: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../img/corner-decorator.svg");
}
.corner-decorator.top-right {
  transform: scaleX(-1) rotate(-90deg);
}
.corner-decorator.top-left {
  transform: rotate(270deg);
}

.corner-decorator.bottom-right {
  transform: scaleX(-1) rotate(180deg);
}
.corner-decorator.bottom-left {
  transform: rotate(180deg);
}
