body {
  font: 400 1em/1.5;
  background: #090d00;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0;
}

.landing-container {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: relative;
  top: 18%;
  width: 40em;
  margin: 0 auto;
  color: #fff;
  margin-top: 10%;
}

.landing-title {
  font-size: 4.5em;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
}

.landing-options {
  display: flex;
  flex-direction: column;
  font-size: 3em;
  margin-top: 2em;
}

.landing-option {
  padding-bottom: 0.8em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.4s;
}
.landing-option:hover {
  color: rgba(255, 255, 255, 1);
}
