body {
  font: 400 1em/1.5;
  background: #090d00;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.landing-container {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: relative;
  top: 18%;
  width: 40em;
  margin: 0 auto;
  color: #fff;
  margin-top: 10%;
}

.landing-title {
  font-size: 4.5em;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
}

.landing-options {
  display: flex;
  flex-direction: column;
  font-size: 3em;
  margin-top: 2em;
}

.landing-option {
  padding-bottom: 0.8em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
}
.landing-option:hover {
  color: rgba(255, 255, 255, 1);
}

.option-scene {
  width: 200px;
  height: 100px;
  perspective: 600px;
  margin: 0 auto;
  transition: all 1s;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 1s;
  transform: translateZ(-100px);
  transform-style: preserve-3d;
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 100px;
  background: black;
  white-space: nowrap;
}

.cube__face--front {
  transform: rotateY(0deg);
}
.cube__face--right {
  transform: rotateY(90deg);
}
.cube__face--back {
  transform: rotateY(180deg);
}
.cube__face--left {
  transform: rotateY(-90deg);
}
.cube__face--top {
  transform: rotateX(90deg);
}
.cube__face--bottom {
  transform: rotateX(-90deg);
}

.option-scene:hover .cube {
  transform: translateZ(-100px) rotateX(-180deg);
}
