.edit-loot-btn {
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
}

.boss-wrap {
  width: calc(100% / 5 - 60px);
  height: 400px;
  margin: 30px;
  margin-bottom: 80px;
  position: relative;
  background-image: url("./bossFrame.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.boss-image {
  width: 210px;
  height: 210px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 250px;
  top: 13%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  filter: sepia();
}
.boss-image.alive {
  filter: none;
}
.loot-wrapper {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 160px;
}
.grad-filter-up {
  z-index: 0;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 80%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 0px 0px 10px 10px;
}
.boss-title {
  padding: 2px 5px;
  font-size: 1.5em;
  color: white;
  border: 3px solid #a48453;
  background-color: black;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 257px;
  white-space: nowrap;
  letter-spacing: 0.05em;
  text-shadow: 0 0 1em black;
  width: 175px;
  border-radius: 10px;
  text-align: center;
}

.total-gold {
  color: white;
}

.overlay-text {
  position: absolute;
  font-size: 2em;
  left: 50%;
  transform: translate(-50%, 0);
  color: #ebbc75;
  padding: 10px 15px;
  border-radius: 20px;
  bottom: 50px;
}
